@import "tailwindcss";

@layer base {
  :is(a, button, input, textarea, select, [tabindex]):focus-visible {
    outline: 2px solid white;
    outline-offset: 0;
    transition: outline-offset 1s cubic-bezier(0.34, 1.56, 0.64, 1);
  }
}

body {
  background: linear-gradient(to bottom right, #fffefe 0%, #fef2f2 50%, #fdf2f8 100%);
}

@media (prefers-color-scheme: dark) {
  body {
    background: linear-gradient(to bottom right, #121829 0%, #1e193b 50%, #112334 100%);
  }
}