@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
	html {
		background: linear-gradient(
			to bottom right,
			#fffefe 0%,
			#fef2f2 50%,
			#fdf2f8 100%
		);
	}

	html.dark {
		background: linear-gradient(
			to bottom right,
			#121829 0%,
			#1e193b 50%,
			#112334 100%
		);
	}

	:is(a, button):focus-visible {
		outline: 2px solid;
		outline-offset: 0;
		outline-color: black;
	}

	.dark :is(a, button):focus-visible {
		outline-color: white;
	}

	:is(input, textarea):focus {
		all: unset;
	}

	input:-webkit-autofill,
	input:-webkit-autofill:focus,
	input:-webkit-autofill:hover,
	input:-webkit-autofill:active {
		-webkit-box-shadow: 0 0 0 1000px transparent inset !important;
		box-shadow: 0 0 0 1000px transparent inset !important;
		-webkit-text-fill-color: var(--input-text-color, #111) !important;
		caret-color: var(--input-text-color, #111);
		background-color: transparent !important;
		transition: background-color 9999s ease-in-out 0s;
	}

	.dark input:-webkit-autofill,
	.dark input:-webkit-autofill:focus,
	.dark input:-webkit-autofill:hover,
	.dark input:-webkit-autofill:active {
		-webkit-text-fill-color: var(--input-text-color-dark, #fff) !important;
		caret-color: var(--input-text-color-dark, #fff);
	}

	input:-moz-autofill {
		box-shadow: 0 0 0 1000px transparent inset !important;
		-moz-text-fill-color: var(--input-text-color, #111) !important;
	}

	.dark input:-moz-autofill {
		-moz-text-fill-color: var(--input-text-color-dark, #fff) !important;
	}

	input:autofill {
		box-shadow: 0 0 0 1000px transparent inset !important;
		-webkit-text-fill-color: var(--input-text-color, #111) !important;
	}

	.dark input:autofill {
		-webkit-text-fill-color: var(--input-text-color-dark, #fff) !important;
	}

	:is(input, textarea)::placeholder {
		color: #a3a3a3;
	}
}

@keyframes beat {
	0%,
	100% {
		transform: scale(0.75);
	}
	50% {
		transform: scale(1.25);
	}
}
